
{{extend 'layout.html'}}
<h1>Meu Carrinho</h1>

<div class="container">
  <div class="row-fluid">
    <span class="span6 offset3">
      <table class="table table-striped">
        {{cont = 0}}	
        {{for item in itens:}}
        <tr>
          <td>
              {{=item.nome}}
          </td>
        		{{cont = cont+item.valor}} 
          {{pass}}
        </tr>
        <tr><td><h5>Total = {{=cont}}</h5></td></tr>
      </table>
      <button class="btn" onclick="location.href='http://127.0.0.1:8000/my_ecommerce/'">Voltar</button>
  </span>
</div>
</div>